
body{

    height: 100vh;
}
h1{
    color: #0d1a1a;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}

h2{

    color:#0d1a1a;
    font-family: sans-serif;
    font-weight:bold;

}

.box-container{
    
    align-items: center;
}
.Newblog{

    
    background-color: #f2f2f2;
    height: 15vh; 
    color:#5b8c7c;
    width: 30lh;
    border-radius: 10px;
    padding: 0;
    display: flex;
    text-align:center;
    border-color: #add9bc;
}
.New-blog:focus{

    outline: none;

}
button{
    
    margin-top: 10%;
    padding: 3%;
    cursor: pointer;
    border-radius: 10px;
    background-color: #0d1a1a;
    color: #f2f2f2;
    text-align: center;
    height: 10vh ;
    width: 10%;
}
button:hover{

    color: #0d1a1a;
    background-color: white;
}